.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #443f3f;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #8B9A46;
}

p {
  font-size: 2rem;
  color: #EEEEEE;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

.btn{
  margin: 50px 30px 30px;
  font-family: 'Lobster', cursive;
  font-size: 2rem;
  color: rgb(247,238,208);
  background-color: rgb(137,0,12);
  padding: 20px 50px;
  border-radius: 1rem;
  border-color: none;
}

.btn:hover{
  background-color: #8B9A46 ;
}
